.media-library-widget .media-library-selection .media-library-item {
  width: 50%;
  display: inline-block;
  padding: 1rem;
}

.media-library-item .media-library-item__preview {
  padding: 0;
  display: inline-block;
  width: auto;
}

.media-library-item .media-library-item__attributes {
  display: inline-block;
  position: relative;
  bottom: initial;
  max-width: 100%;
  max-height: 100%;
  width: 85%;
  overflow: initial;
  vertical-align: top;
}

.media-library-item__attributes:hover {
  white-space: normal;
}

.media-library-item__attributes .media-library-item__name {
  overflow: inherit;
  margin: 0;
  text-overflow: initial;
  white-space: normal;
}
