# .env file

# user for test (leave empty as test data overides in each test)
USERNAME=''
PASSWORD=''

# active test url (leave empty as test data overides in each test)
TEST_URL=''

# valid user options
AUTHOR_USERNAME=''
AUTHOR_PASSWORD=''
SUPERVISOR_USERNAME=''
SUPERVISOR_PASSWORD=''
TOPICSUPERVISOR_USERNAME=''
TOPICSUPERVISOR_PASSWORD=''

# valid test urls
# Use www. prefix to match ddev additional_hostnames (e.g. http://www.finance-ni.ddev.site)
FINANCE_URL=''
COMMUNITIES_URL=''
DAERA_URL=''
ECONOMY_URL=''
EDUCATION_URL=''
EXECUTIVE_OFFICE_URL=''
HEALTH_URL=''
DFI_URL=''
NIGOV_URL=''
JUSTICE_URL=''



