# .env file

# user for test (leave empty as test data overides in each test)
USERNAME=''
PASSWORD=''

# active test url (leave empty as test data overides in each test)
TEST_URL=''

# valid user options
AUTHOR_USERNAME=''
AUTHOR_PASSWORD=''
SUPERVISOR_USERNAME=''
SUPERVISOR_PASSWORD=''
TOPICSUPERVISOR_USERNAME=''
TOPICSUPERVISOR_PASSWORD=''

# valid test urls
# Use www. prefix to match ddev additional_hostnames (e.g. http://www.finance-ni.ddev.site)
FINANCE_URL='http://www.finance-ni.ddev.site'
COMMUNITIES_URL='http://www.communities-ni.ddev.site'
DAERA_URL='http://www.daera-ni.ddev.site'
ECONOMY_URL='http://www.economy-ni.ddev.site'
EDUCATION_URL='http://www.education-ni.ddev.site'
EXECUTIVE_OFFICE_URL='http://www.executiveoffice-ni.ddev.site'
HEALTH_URL='http://www.health-ni.ddev.site'
DFI_URL='http://www.infrastructure-ni.ddev.site'
NIGOV_URL='http://www.northernireland.ddev.site'
JUSTICE_URL='http://www.justice-ni.ddev.site'



