
<section class="mdash-container">
  <div class="card">
    <h3>Content summary</h3>
    {{ content_status }}
  </div>

  <div class="card">
    <h3>Error summary</h3>
    {{ error_status }}
  </div>
</section>
