/*
 * @file
 * Provides the layout styles for content output from field_photo for any entity.
 */
@import '../../init';

.banner {
  margin: 0 0 var(--rhythm-spacing-xxxl);
  position: relative;
  width: 100%;
  font-size: .1px;
  line-height: 0;

  img,
  .media-image img {
    display: block;
    margin: 0;
    padding: 0;

    +img {
      position: absolute;
      top: 0;
    }
  }

  &__strapline {
    @include responsive-typo-map($xxl-text);

    @include rhythm-margins(3.5, 0);

    @include breakpoint($phab, $no-query: true) {
      @include rhythm-margins(4, 0);
    }

    @include breakpoint($tab, $no-query: true) {
      @include rhythm-margins(5, 0);
    }

    font-weight: normal;
  }
}
