/*
 * @file
 * Provides very specific styling for consultations / content types.
 */
@import '../../init';

.page-node-type-event {

  .event-details {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5em;
    width: 100%;
    clear: both;
    margin: 1em 0 1.5em;
    padding: 1em;
    font-size: inherit;
    background-color: var(--brand-primary-color-high-contrast-white);
    color: #fff;

    p {
      flex: auto 1 1;
      margin: 0;
      color: inherit;
      @include responsive-typo-map($smallish-text);

      .label {
        display: block;
        color: inherit;
        font-weight: bold;
        @include responsive-typo-map($medium-text);
        margin-bottom: var(--rhythm-spacing-xs);
      }
    }

    .event-host {
      @include responsive-typo-map($small-text);
      margin: 1.8rem 0 .7rem;
      @include breakpoint($tab) {
        margin: 2.1rem 0 .7rem;
      };
      @include breakpoint($desk-plus) {
        margin: 2.5rem 0 1rem;
      };
    }

    .business-area {
      @include responsive-typo-map($small-text);
      margin: 1.8rem 0 .7rem;
      @include breakpoint($tab) {
        margin: 2.1rem 0 .7rem;
      };
      @include breakpoint($desk-plus) {
        margin: 2.5rem 0 1rem;
      };
    }

  }

}
