/*
 * @file
 * Provides the styling for creating a card component.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Breakpoints ======================================================== */
/* Layout max widths for larger breakpoints =========================== */
/* line 29, src/scss/3_components/content/cards.scss */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-shadow: 0 1px 2px #cdcdcd;
  box-shadow: 0 1px 2px #cdcdcd;
  margin: 0;
}

/* line 36, src/scss/3_components/content/cards.scss */
.card__image {
  -webkit-box-flex: 1;
  -ms-flex: auto 0 0px;
  flex: auto 0 0;
}

/* line 39, src/scss/3_components/content/cards.scss */
.card__image:empty {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

/* line 43, src/scss/3_components/content/cards.scss */
.card__image .media-image {
  font-size: .1px;
  line-height: 0;
}

/* line 48, src/scss/3_components/content/cards.scss */
.card__image .media-image img {
  margin: 0;
}

/* line 54, src/scss/3_components/content/cards.scss */
.card__body {
  -webkit-box-flex: 1;
  -ms-flex: auto 0 1;
  flex: auto 0 1;
  padding: 1em;
}

/* line 58, src/scss/3_components/content/cards.scss */
.card__body > p,
.card__body > ul,
.card__body > ol {
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: var(--rhythm-spacing-sm) 0;
}

@media screen and (min-width: 992px) {
  /* line 58, src/scss/3_components/content/cards.scss */
  .card__body > p,
  .card__body > ul,
  .card__body > ol {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 58, src/scss/3_components/content/cards.scss */
  .card__body > p,
  .card__body > ul,
  .card__body > ol {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

/* line 66, src/scss/3_components/content/cards.scss */
.card__title {
  font-size: 2.4rem;
  line-height: 1.364;
  margin: 0 0 var(--rhythm-spacing-sm);
}

/* line 71, src/scss/3_components/content/cards.scss */
.card__meta {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #4d4d4d;
  margin: var(--rhythm-spacing-sm) 0 0;
}

@media screen and (min-width: 992px) {
  /* line 71, src/scss/3_components/content/cards.scss */
  .card__meta {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 71, src/scss/3_components/content/cards.scss */
  .card__meta {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
}

/* line 76, src/scss/3_components/content/cards.scss */
.card__meta:empty {
  margin: 0;
}

/* line 81, src/scss/3_components/content/cards.scss */
.card__meta + p {
  margin-top: 0;
}

/* line 85, src/scss/3_components/content/cards.scss */
.card__content {
  margin: 0;
}

/* line 90, src/scss/3_components/content/cards.scss */
.card--no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 94, src/scss/3_components/content/cards.scss */
.card--no-border {
  border: 0;
}

/* line 98, src/scss/3_components/content/cards.scss */
.card--no-edges, .card--plain {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

/* line 104, src/scss/3_components/content/cards.scss */
.card--no-padding {
  padding: 0;
}

/* line 107, src/scss/3_components/content/cards.scss */
.card--no-padding .card__body {
  padding: 0;
}

/* line 114, src/scss/3_components/content/cards.scss */
a.card {
  text-decoration: none;
  background-color: transparent;
  outline-color: transparent;
  -webkit-transition: background-color .3s, outline-color .3s, border-color .3s;
  transition: background-color .3s, outline-color .3s, border-color .3s;
  color: #222;
}

/* line 121, src/scss/3_components/content/cards.scss */
a.card:hover, a.card:focus {
  background-color: #e4f0fa;
  outline: 0.5em solid #e4f0fa;
  outline-offset: 0;
}

/* line 127, src/scss/3_components/content/cards.scss */
a.card:hover .card__title::after, a.card:focus .card__title::after {
  background-color: #333;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2015%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23ffffff%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3B%7D%20%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M12.5%200L0%2012l3%203%209.5-10L22%2015l3-3L12.5%200z%22%2F%3E%3C%2Fsvg%3E%0A");
}

/* line 133, src/scss/3_components/content/cards.scss */
a.card .card__title {
  position: relative;
  padding-right: 36px;
  color: #0b1647;
}

/* line 138, src/scss/3_components/content/cards.scss */
a.card .card__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -.3rem;
  right: -.6rem;
  width: 3.5rem;
  height: 3.5rem;
  background: var(--brand-primary-color) url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2015%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23fff%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3B%7D%20%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M12.5%200L0%2012l3%203%209.5-10L22%2015l3-3L12.5%200z%22%2F%3E%3C%2Fsvg%3E%0A") center center/2.2rem auto no-repeat;
  border-radius: 50%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 153, src/scss/3_components/content/cards.scss */
a.card--plain,
.card-deck--plain a.card {
  color: #222;
  text-decoration: none;
  text-underline-offset: 3px;
}

/* line 163, src/scss/3_components/content/cards.scss */
a.card--plain:hover, a.card--plain:focus,
.card-deck--plain a.card:hover,
.card-deck--plain a.card:focus {
  background-color: transparent;
  outline: none;
}

/* line 170, src/scss/3_components/content/cards.scss */
a.card--plain .card__title,
.card-deck--plain a.card .card__title {
  padding: 0;
  color: #0e6bb3;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  -webkit-text-decoration-color: #0e6bb3;
  text-decoration-color: #0e6bb3;
}

/* line 177, src/scss/3_components/content/cards.scss */
a.card--plain .card__title::after,
.card-deck--plain a.card .card__title::after {
  content: none;
}

/* line 182, src/scss/3_components/content/cards.scss */
a.card--plain:focus .card__title,
.card-deck--plain a.card:focus .card__title {
  color: #fff;
  background-color: #0e6bb3;
  -webkit-box-shadow: 0 0 0 3px #0e6bb3;
  box-shadow: 0 0 0 3px #0e6bb3;
}

/* line 188, src/scss/3_components/content/cards.scss */
a.card--plain:hover .card__title,
.card-deck--plain a.card:hover .card__title {
  color: #0e6bb3;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-color: #0b1647;
  text-decoration-color: #0b1647;
}

/* line 196, src/scss/3_components/content/cards.scss */
a.card--plain:active .card__title,
.card-deck--plain a.card:active .card__title {
  color: #d1431f;
  background-color: transparent;
  text-underline-color: #d1431f;
}

/* line 238, src/scss/3_components/content/cards.scss */
.card-deck {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em 2em;
  margin-top: 0;
  margin-bottom: 2.5em;
}

/* line 249, src/scss/3_components/content/cards.scss */
.card-deck *:has(> .card),
.card-deck .card {
  width: 100%;
  height: 100%;
}

/* line 255, src/scss/3_components/content/cards.scss */
.card-deck--no-row-gap {
  grid-row-gap: 0;
}

/* line 259, src/scss/3_components/content/cards.scss */
.card-deck--no-column-gap {
  grid-column-gap: 0;
}

@media (min-width: 768px) {
  /* line 264, src/scss/3_components/content/cards.scss */
  .card-deck--x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  /* line 271, src/scss/3_components/content/cards.scss */
  .card-deck--x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  /* line 278, src/scss/3_components/content/cards.scss */
  .card-deck--x4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  /* line 278, src/scss/3_components/content/cards.scss */
  .card-deck--x4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* line 290, src/scss/3_components/content/cards.scss */
.card-deck--list .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

@media (min-width: 0) and (max-width: 480px) {
  /* line 295, src/scss/3_components/content/cards.scss */
  .card-deck--list .card .card__body {
    padding-top: var(--rhythm-spacing-md);
  }
}

@media (min-width: 480px) {
  /* line 290, src/scss/3_components/content/cards.scss */
  .card-deck--list .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  /* line 304, src/scss/3_components/content/cards.scss */
  .card-deck--list .card .card__image {
    -webkit-box-flex: 150px;
    -ms-flex: 150px 0 0px;
    flex: 150px 0 0;
  }
  /* line 307, src/scss/3_components/content/cards.scss */
  .card-deck--list .card .card__image:empty {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }
  /* line 312, src/scss/3_components/content/cards.scss */
  .card-deck--list .card .card__body {
    padding: 1em;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

/* line 323, src/scss/3_components/content/cards.scss */
.card-deck--list-to-x2 .card, .card-deck--list-to-x3 .card, .card-deck--list-to-x4 .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 323, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x2 .card, .card-deck--list-to-x3 .card, .card-deck--list-to-x4 .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  /* line 331, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x2 .card .card__image, .card-deck--list-to-x3 .card .card__image, .card-deck--list-to-x4 .card .card__image {
    -webkit-box-flex: 33%;
    -ms-flex: 33% 0 0px;
    flex: 33% 0 0;
  }
  /* line 334, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x2 .card .card__image:empty, .card-deck--list-to-x3 .card .card__image:empty, .card-deck--list-to-x4 .card .card__image:empty {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }
  /* line 339, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x2 .card .card__body, .card-deck--list-to-x3 .card .card__body, .card-deck--list-to-x4 .card .card__body {
    padding-left: 1em;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

@media (min-width: 768px) {
  /* line 348, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  /* line 354, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  /* line 360, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  /* line 360, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* line 372, src/scss/3_components/content/cards.scss */
.card-deck--search-results {
  grid-row-gap: 1em;
}

/* line 375, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card {
  padding: .5em 0 1.5em;
  -webkit-box-shadow: 0 1px 0 0 #cdcdcd;
  box-shadow: 0 1px 0 0 #cdcdcd;
  border: 0;
}

/* line 380, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__title {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  /* line 380, src/scss/3_components/content/cards.scss */
  .card-deck--search-results .card__title {
    font-size: 1.9rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  /* line 380, src/scss/3_components/content/cards.scss */
  .card-deck--search-results .card__title {
    font-size: 2rem;
    line-height: 3.3rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 380, src/scss/3_components/content/cards.scss */
  .card-deck--search-results .card__title {
    font-size: 2.1rem;
    line-height: 3.5rem;
  }
}

/* line 386, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__summary, .card-deck--search-results .card__content {
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: var(--rhythm-spacing-xs) 0 0;
}

@media screen and (min-width: 992px) {
  /* line 386, src/scss/3_components/content/cards.scss */
  .card-deck--search-results .card__summary, .card-deck--search-results .card__content {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 386, src/scss/3_components/content/cards.scss */
  .card-deck--search-results .card__summary, .card-deck--search-results .card__content {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

/* line 391, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__summary *, .card-deck--search-results .card__content * {
  font-size: inherit;
  line-height: inherit;
}

/* line 398, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__summary p:first-child,
.card-deck--search-results .card__summary div:first-child, .card-deck--search-results .card__content p:first-child,
.card-deck--search-results .card__content div:first-child {
  margin-top: 0;
}

/* line 402, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__summary p:last-child,
.card-deck--search-results .card__summary div:last-child, .card-deck--search-results .card__content p:last-child,
.card-deck--search-results .card__content div:last-child {
  margin-bottom: 0;
}

/* line 408, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__meta {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: var(--rhythm-spacing-sm) 0 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  /* line 408, src/scss/3_components/content/cards.scss */
  .card-deck--search-results .card__meta {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 408, src/scss/3_components/content/cards.scss */
  .card-deck--search-results .card__meta {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
}

/* line 413, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__meta:empty {
  margin: 0;
}

/* line 417, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__meta > span,
.card-deck--search-results .card__meta > div,
.card-deck--search-results .card__meta .field {
  display: inline-block;
  color: #666;
  margin: 0 1em 0 0;
}

/* line 424, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__meta > span.label-inline,
.card-deck--search-results .card__meta > div.label-inline,
.card-deck--search-results .card__meta .field.label-inline {
  margin-right: 0;
}

/* line 428, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__meta > span:last-child,
.card-deck--search-results .card__meta > div:last-child,
.card-deck--search-results .card__meta .field:last-child {
  margin: 0;
}

/* line 432, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__meta > span div,
.card-deck--search-results .card__meta > span span,
.card-deck--search-results .card__meta > div div,
.card-deck--search-results .card__meta > div span,
.card-deck--search-results .card__meta .field div,
.card-deck--search-results .card__meta .field span {
  display: inline;
}

/* line 438, src/scss/3_components/content/cards.scss */
.card-deck--search-results .card__meta .department-name {
  display: block;
  margin: var(--rhythm-spacing-sm) 0 0 0;
}

/* line 449, src/scss/3_components/content/cards.scss */
.card-deck--plain .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

/* line 456, src/scss/3_components/content/cards.scss */
.card-deck--border-top .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid #19315a;
  padding: var(--rhythm-spacing-md);
}

@media (min-width: 768px) {
  /* line 464, src/scss/3_components/content/cards.scss */
  .card-deck--topics {
    grid-gap: 2em 3em;
  }
}

/* line 469, src/scss/3_components/content/cards.scss */
.card-deck--topics .card {
  -webkit-box-shadow: 0 -1px 0 0 #cdcdcd;
  box-shadow: 0 -1px 0 0 #cdcdcd;
  padding: 2em 0 0 0;
  margin: 0;
}

/* line 474, src/scss/3_components/content/cards.scss */
.card-deck--topics .card:first-child {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 0;
}

@media (min-width: 768px) {
  /* line 479, src/scss/3_components/content/cards.scss */
  .card-deck--topics .card:nth-child(-n + 2) {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
  }
}

/* line 486, src/scss/3_components/content/cards.scss */
.card-deck--topics .card__title {
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0;
}

@media screen and (min-width: 992px) {
  /* line 486, src/scss/3_components/content/cards.scss */
  .card-deck--topics .card__title {
    font-size: 2.1rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  /* line 486, src/scss/3_components/content/cards.scss */
  .card-deck--topics .card__title {
    font-size: 2.2rem;
    line-height: 3.3rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 486, src/scss/3_components/content/cards.scss */
  .card-deck--topics .card__title {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }
}

/* line 490, src/scss/3_components/content/cards.scss */
.card-deck--topics .card__title a {
  color: #0e6bb3;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  outline: 0;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.card-deck--topics .card__title a:visited, .card-deck--topics .card__title a.visited {
  color: #0e6bb3;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  outline: 0;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.card-deck--topics .card__title a:focus, .card-deck--topics .card__title a.focus {
  color: #fff;
  background-color: #0e6bb3;
  text-decoration: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  outline: 2px solid #0e6bb3;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.card-deck--topics .card__title a:hover, .card-deck--topics .card__title a.hover {
  color: #0e6bb3;
  background-color: transparent;
  text-decoration: underline;
  -webkit-text-decoration-color: #333;
  text-decoration-color: #333;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  outline: 0;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.card-deck--topics .card__title a:active, .card-deck--topics .card__title a.active {
  color: #d1431f;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  outline: 0;
  outline-offset: 0;
}

/* line 495, src/scss/3_components/content/cards.scss */
.card-deck--topics .card__content {
  margin: .5em 0 0;
}

/* line 498, src/scss/3_components/content/cards.scss */
.card-deck--topics .card__content *:not(ul) {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

@media screen and (min-width: 992px) {
  /* line 498, src/scss/3_components/content/cards.scss */
  .card-deck--topics .card__content *:not(ul) {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 498, src/scss/3_components/content/cards.scss */
  .card-deck--topics .card__content *:not(ul) {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

/* line 502, src/scss/3_components/content/cards.scss */
.card-deck--topics .card__content p,
.card-deck--topics .card__content .page-summary {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* line 512, src/scss/3_components/content/cards.scss */
.card-deck--topics .card__content ul {
  margin: 0 0 1em;
}

/* line 516, src/scss/3_components/content/cards.scss */
.card-deck--topics .card__content p + ul,
.card-deck--topics .card__content .page-summary + ul {
  margin-top: .5em;
}

/* line 521, src/scss/3_components/content/cards.scss */
.card-deck--topics .card__content li a {
  text-decoration: none;
}

/* line 524, src/scss/3_components/content/cards.scss */
.card-deck--topics .card__content li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #333;
  text-decoration-color: #333;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

/* line 532, src/scss/3_components/content/cards.scss */
.card-deck--topics .card__content .more-link {
  font-weight: bold;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 547, src/scss/3_components/content/cards.scss */
  .card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-bottom: 0;
  }
  /* line 552, src/scss/3_components/content/cards.scss */
  .card-deck > * {
    -webkit-box-flex: 1;
    -ms-flex: auto 0 0px;
    flex: auto 0 0;
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
  }
  /* line 560, src/scss/3_components/content/cards.scss */
  .card-deck .card {
    width: 100%;
    height: auto;
  }
}

@media all and (-ms-high-contrast: none) and (min-width: 576px), (-ms-high-contrast: active) and (min-width: 576px) {
  /* line 569, src/scss/3_components/content/cards.scss */
  .card-deck--x2,
  .card-deck--x3,
  .card-deck--x4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  /* line 574, src/scss/3_components/content/cards.scss */
  .card-deck--x2 > *,
  .card-deck--x3 > *,
  .card-deck--x4 > * {
    width: 49.9999% !important;
  }
  /* line 583, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x2 .card, .card-deck--list-to-x3 .card, .card-deck--list-to-x4 .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: -webkit-min-content !important;
    height: -moz-min-content !important;
    height: min-content !important;
  }
}

@media all and (-ms-high-contrast: none) and (min-width: 768px), (-ms-high-contrast: active) and (min-width: 768px) {
  /* line 593, src/scss/3_components/content/cards.scss */
  .card-deck--x3 > * {
    width: 33.3333% !important;
  }
  /* line 599, src/scss/3_components/content/cards.scss */
  .card-deck--x4 > * {
    width: 23.9999% !important;
  }
  /* line 609, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x2, .card-deck--list-to-x3, .card-deck--list-to-x4 {
    display: grid;
  }
  /* line 614, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x2 .card, .card-deck--list-to-x3 .card, .card-deck--list-to-x4 .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 100% !important;
    margin-bottom: 0;
  }
  /* line 621, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    grid-gap: 1.5em 2rem;
  }
  /* line 627, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    grid-gap: 1.5em 2rem;
  }
  /* line 633, src/scss/3_components/content/cards.scss */
  .card-deck--list-to-x4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    grid-gap: 1.5em 2rem;
  }
}

/*# sourceMappingURL=cards.css.map */