/*
 * @file
 * Provides the styling for icon components. The file then extrapolates some concepts around icons further
 * for when they are used in some kind of message container.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Breakpoints ======================================================== */
/* Layout max widths for larger breakpoints =========================== */
/* line 37, src/scss/3_components/content/icons-messages.scss */
.ico {
  display: inline-block;
  margin-left: .2em;
}

/* line 48, src/scss/3_components/content/icons-messages.scss */
.ico-elink {
  height: 1.1rem;
  width: 1.4rem;
  margin-bottom: .3rem;
}

/* line 64, src/scss/3_components/content/icons-messages.scss */
.ico-arrow-left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 73, src/scss/3_components/content/icons-messages.scss */
.ico-arrow-up {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 77, src/scss/3_components/content/icons-messages.scss */
.ico-arrow-down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 85, src/scss/3_components/content/icons-messages.scss */
.ico-rss {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: .3em;
  fill: black;
}

/* line 93, src/scss/3_components/content/icons-messages.scss */
.info-notice,
.form-item.info-notice, .messages,
.form-item.messages {
  border: 2px solid;
  margin: 1.5em 0;
  padding: 1.2rem 1em 1em 5rem;
  background: #fff url('../../../images/i.svg?191d85f4266') no-repeat 1.1rem 1.1rem/28px 28px;
}

@media (min-width: 576px) {
  /* line 93, src/scss/3_components/content/icons-messages.scss */
  .info-notice,
  .form-item.info-notice, .messages,
  .form-item.messages {
    padding: 1.4rem 1em 1em 6rem;
    background-position: 1.4rem 1.4rem;
    background-size: 30px 30px;
  }
}

/* line 105, src/scss/3_components/content/icons-messages.scss */
.info-notice > *:first-child, .messages > *:first-child {
  margin-top: 0;
}

/* line 109, src/scss/3_components/content/icons-messages.scss */
.info-notice > *:last-child, .messages > *:last-child {
  margin-bottom: 0;
}

/* line 113, src/scss/3_components/content/icons-messages.scss */
.info-notice > h2:first-child, .messages > h2:first-child,
.info-notice > h3:first-child,
.messages > h3:first-child {
  font-size: 2.1rem;
  line-height: 2.7rem;
}

@media (min-width: 576px) {
  /* line 113, src/scss/3_components/content/icons-messages.scss */
  .info-notice > h2:first-child, .messages > h2:first-child,
  .info-notice > h3:first-child,
  .messages > h3:first-child {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

/* line 123, src/scss/3_components/content/icons-messages.scss */
.info-notice,
.form-item.info-notice {
  border-color: #cee4f6;
}

/* line 128, src/scss/3_components/content/icons-messages.scss */
.no-svg .info-notice, .no-svg
.form-item.info-notice {
  background-image: url('../../../images/i.png?191d85f4266');
}

/* line 132, src/scss/3_components/content/icons-messages.scss */
.info-notice--large,
.form-item.info-notice--large {
  border-width: .25em;
  padding: .5em 5rem 1em;
  margin: 1em 0 1.5em;
  background-size: 3rem 3rem;
  background-position: 1rem 1rem;
}

@media (min-width: 576px) {
  /* line 132, src/scss/3_components/content/icons-messages.scss */
  .info-notice--large,
  .form-item.info-notice--large {
    background-size: 4rem 4rem;
    background-position: 2rem 2rem;
    border-width: .3334em;
    padding: .5em 8rem 1.5em;
  }
}

/* line 147, src/scss/3_components/content/icons-messages.scss */
.info-notice--large > *:first-child,
.form-item.info-notice--large > *:first-child {
  margin-top: .9rem;
}

@media (min-width: 768px) {
  /* line 147, src/scss/3_components/content/icons-messages.scss */
  .info-notice--large > *:first-child,
  .form-item.info-notice--large > *:first-child {
    margin-top: 1.5rem;
  }
}

/* line 155, src/scss/3_components/content/icons-messages.scss */
.info-notice--large p,
.info-notice--large li,
.form-item.info-notice--large p,
.form-item.info-notice--large li {
  font-size: 2rem;
  line-height: 2.8rem;
}

@media screen and (min-width: 992px) {
  /* line 155, src/scss/3_components/content/icons-messages.scss */
  .info-notice--large p,
  .info-notice--large li,
  .form-item.info-notice--large p,
  .form-item.info-notice--large li {
    font-size: 2.1rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  /* line 155, src/scss/3_components/content/icons-messages.scss */
  .info-notice--large p,
  .info-notice--large li,
  .form-item.info-notice--large p,
  .form-item.info-notice--large li {
    font-size: 2.2rem;
    line-height: 3.3rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 155, src/scss/3_components/content/icons-messages.scss */
  .info-notice--large p,
  .info-notice--large li,
  .form-item.info-notice--large p,
  .form-item.info-notice--large li {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }
}

/* line 161, src/scss/3_components/content/icons-messages.scss */
.info-notice--success,
.form-item.info-notice--success {
  border-color: #048a05;
  background-image: url('../../../images/status.svg?191d85f4267');
}

/* line 165, src/scss/3_components/content/icons-messages.scss */
.no-svg .info-notice--success, .no-svg
.form-item.info-notice--success {
  background-image: url('../../../images/status.png?191d85f4267');
}

/* line 170, src/scss/3_components/content/icons-messages.scss */
.info-notice--error,
.form-item.info-notice--error {
  border-color: #e34f4f;
  background-image: url('../../../images/wrong.svg?191d85f4268');
}

/* line 174, src/scss/3_components/content/icons-messages.scss */
.no-svg .info-notice--error, .no-svg
.form-item.info-notice--error {
  background-image: url('../../../images/wrong.png?191d85f4268');
}

/* line 179, src/scss/3_components/content/icons-messages.scss */
.info-notice--warning,
.form-item.info-notice--warning {
  border-color: #db6304;
  background-image: url('../../../images/warning.svg?191d85f4268');
}

/* line 183, src/scss/3_components/content/icons-messages.scss */
.no-svg .info-notice--warning, .no-svg
.form-item.info-notice--warning {
  background-image: url('../../../images/warning.png?191d85f4268');
}

/* line 194, src/scss/3_components/content/icons-messages.scss */
.messages-list {
  margin: 2.5rem 0;
  list-style: none;
}

/* line 198, src/scss/3_components/content/icons-messages.scss */
.field .messages-list,
.form-wrapper .messages-list {
  margin-bottom: 0;
}

/* line 208, src/scss/3_components/content/icons-messages.scss */
.messages--error,
.form-item.messages--error {
  border-color: #e34f4f;
  background: #fff url('../../../images/wrong.svg?191d85f4268') no-repeat 0.9rem 0.9rem/24px 24px;
}

@media (min-width: 576px) {
  /* line 208, src/scss/3_components/content/icons-messages.scss */
  .messages--error,
  .form-item.messages--error {
    background: #fff url('../../../images/wrong.svg?191d85f4268') no-repeat 1.4rem 1.4rem/30px 30px;
  }
}

/* line 216, src/scss/3_components/content/icons-messages.scss */
.no-svg .messages--error, .no-svg
.form-item.messages--error {
  background-image: url('../../../images/wrong.png?191d85f4268');
}

/* line 221, src/scss/3_components/content/icons-messages.scss */
.messages--status,
.form-item.messages--status {
  border-color: #048a05;
  background: #fff url('../../../images/status.svg?191d85f4267') no-repeat 0.9rem 0.9rem/24px 24px;
}

@media (min-width: 576px) {
  /* line 221, src/scss/3_components/content/icons-messages.scss */
  .messages--status,
  .form-item.messages--status {
    background: #fff url('../../../images/status.svg?191d85f4267') no-repeat 1.4rem 1.4rem/30px 30px;
  }
}

/* line 229, src/scss/3_components/content/icons-messages.scss */
.no-svg .messages--status, .no-svg
.form-item.messages--status {
  background-image: url('../../../images/status.png?191d85f4267');
}

/* line 234, src/scss/3_components/content/icons-messages.scss */
.messages--warning,
.form-item.messages--warning {
  border-color: #db6304;
  background: #fff url('../../../images/warning.svg?191d85f4268') no-repeat 0.9rem 0.9rem/24px 24px;
}

@media (min-width: 576px) {
  /* line 234, src/scss/3_components/content/icons-messages.scss */
  .messages--warning,
  .form-item.messages--warning {
    background: #fff url('../../../images/warning.svg?191d85f4268') no-repeat 1.4rem 1.4rem/30px 30px;
  }
}

/* line 242, src/scss/3_components/content/icons-messages.scss */
.no-svg .messages--warning, .no-svg
.form-item.messages--warning {
  background-image: url('../../../images/warning.png?191d85f4268');
}

/* line 247, src/scss/3_components/content/icons-messages.scss */
.messages__list,
.form-item.messages__list {
  margin: 0;
}

/* line 251, src/scss/3_components/content/icons-messages.scss */
.messages__item,
.form-item.messages__item {
  font-size: 1.8rem;
}

/* line 254, src/scss/3_components/content/icons-messages.scss */
.messages__item:first-child,
.form-item.messages__item:first-child {
  margin-top: 0;
}

/*# sourceMappingURL=icons-messages.css.map */