@import '../init';
@import '../3_components/field/field-topic-contents';

$base-font-size: 16px;

body {
  font-family: $base-font-family;

  p {
    font-size: var(--font-size-base);
  }
}

.node-form .layout-node-form {
  display: block;

  @include breakpoint($desk) {
    display: grid;
    grid-template-columns: minmax(45rem, 55rem) minmax(22.5rem, 1fr);

    .layout-region--node-secondary {
      max-width: 30rem;
    }
  }

  .layout-region--node-main {
    margin-inline: unset;
  }
}

.block-system-main-block .layout-node-form .layout-region__content,
.block-system-main-block .department-form {
  .field--type {
    &-entity-reference,
    &-link {
      table {
        th,
        td {
          background-color: $grey-lightest;
          border-color: $grey-medium;
          height: unset;
        }

        td:first-child ~ td,
        th:first-child ~ th {
          padding-left: var(--space-m);
        }

        th,
        h4 {
          font-size: var(--font-size-base);
        }
      }
    }
  }
}

.messages-list {
  .messages__title {
    color: $white;
  }
}

/*
 * Bump down the font size and adjust the position of the labels when using the core entity reference list form.
 */
.moderation-state {
  font-size: .8rem;
  float: left;
}
