/**
 * @file
 * Provides the moderation state indicators.
 */

@import '../../init';

.moderation-state {

  font-size: 1.3rem;
  display: inline-block;
  padding: 1px 8px;
  border-radius: 15px;
  letter-spacing: 0.1rem;

  &--draft  {
    @extend .moderation-state;
    background-color: rgb(254, 226, 226);
    color: rgb(185, 28, 28);
  }

  &--needs-review  {
    @extend .moderation-state;
    background-color: rgb(254, 226, 195);
    color: rgb(133, 77, 44);
  }

  &--archived {
    @extend .moderation-state;
    background-color: rgb(243, 244, 246);
    color: rgb(75, 85, 99);
  }

}
