// Font faces, stacks and sizes.
//
// Font styling and line heights are controlled by the several variables that
// used by mixins like adjust-font-size-to().
// These variable and mixins are documented in [Compass](http://compass-style.org/reference/compass/typography/vertical_rhythm/).
// We also use a custom mixin responsive-typo-map() to make responsive typography much more manageable using sass maps.
// We import Google fonts in the head of the document and set the base family to include
// 'Open Sans', sans-serif
//
// Style guide: init.variables.typography
// The default font family.
$base-font-family: 'Roboto', 'Open Sans', sans-serif;
$font-monospace:   'Courier New', 'DejaVu Sans Mono', monospace, sans-serif;;

// ## Responsive typography with vertical rhythm.
//
// Sass maps that map out font size, line-height and margins for an element at different responsive breakpoints.
//
// @see https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
// @see @mixin responsive-typo-map in src/scss/init/responsive-typo/_resp-typo.scss
//
// The base font size for dept sites changes at
// these breakpoints:
//
// - 16px for screen sizes up to 992px (xs, sm, md, lg).
// - 18px for screen sizes up to 1679px (xl, xxl).
// - 20px for screen sizes over 1679px (xxxl).
//
// To maintain vertical rhythm, line-heights and margins of text
// elements should add up to some multiple or factor of the base font-size.
//
// If the base font size is 16px:
// - line height will be 24px for normal text (1.5 * font-size)
// - multiples of 4 or 8 work best for margins (or padding)
//
// If the base font size is 18px:
// - line height will be 27px for normal text (1.5 * font-size)
// - multiples of 3, 6, or 9 work best for margins (or padding).
//
// If the base font size is 20px:
// - line height will be 30px for normal text (1.5 * font-size)
// - multiples of 5 or 10 work best for margins (or padding).
//
// Based on the above, we can define a sass map like this for
// normal paragraph text:
// ```scss
//   $normal-text: (
//    null: (16px, 24px, 16px 0 24px),
//    xl: (18px, 27px, 18px 0 27px),
//    xxxl: (20px, 30px, 20px 0 30px),
//  );
// ```
//
// Or ... even better, by taking advantage of css inheritance
// ```scss
//   $normal-text: (
//    null: (16px, 1.5, 1em 0 1em),
//    xl: 18px,
//    xxxl: 20px,
//  );
// ```
//
// Then we can do this:
// ```scss
//   p {
//     @include responsive-typo-map($normal-text);
//   }
// ```
//
// And that will compile to css as:
// (note px is converted to px automatically)
//
// ```css
// p {
//   font-size: 1.6px;
//   line-height: 1.5;
//   margin: 1em 0 2em
// }
//
// @media screen and (min-width: 992px) {
//   p {
//     font-size: 1.8px
//   }
// }
//
// @media screen and (min-width: 1679px) {
//   p {
//     font-size: 2px
//   }
// }
// ```


// Normal text.
$normal-text: (
  null: (16px, 1.5, 1em 0 1.5em),
  xl: 18px,
  xxxl: 20px,
);

// Normal text without margins.
$normal-text-no-margins: (
  null: (16px, 1.5),
  xl: 18px,
  xxxl: 20px,
);

// Small, medium, large, extra large text (no margins).
$xs-text: (
  null: (14px, 20px),
  xl: (15px, 22px),
  xxxl: (16px, 24px),
);

$small-text: (
  null: (15px, 22px),
  xl: (16px, 24px),
  xxxl: (17px, 25px),
);

$smallish-text: (
  null: (15px, 24px),
  xl: (17px, 27px),
  xxxl: (18px, 30px),
);

$medium-text: (
  null: (18px, 28px),
  xl: (19px, 30px),
  xxl: (20px, 33px),
  xxxl: (21px, 35px)
);

$large-text: (
  null: (20px, 28px),
  xl: (21px, 30px),
  xxl: (22px, 33px),
  xxxl: (22px, 35px)
);

$xl-text: (
  null: (22px, 32px),
  xl: (23px, 33px),
  xxl: (25px, 36px),
  xxxl: (27px, 40px)
);

$xxl-text: (
  null: (24px, 36px),
  xl: (27px, 39px),
  xxxl: (30px, 45px)
);

// Headings (with margins).
$h1-text: (
  null: (26px, 32px, 32px 0 16px),
  lg: (28px, 36px, 40px 0 16px),
  xl: (30px, 39px, 45px 0 18px),
  xxxl: (30px, 40px, 50px 0 20px)
);

$h2-text: (
  null: (24px, 32px, 32px 0 16px),
  xl: (25px, 33px, 33px 0 18px),
  xxxl: (26px, 35px, 35px 0 20px)
);

$h3-text: (
  null: (21px, 30px, 32px 0 12px),
  xl: (22px, 33px, 36px 0 18px),
  xxxl: (24px, 35px, 40px 0 20px)
);

$h3-text-no-margin: (
  null: (21px, 30px),
  xl: (22px, 33px),
  xxxl: (24px, 35px)
);

$h4-text: (
  null: (18px, 24px, 32px 0 12px),
  xl: (20px, 27px, 36px 0 18px),
  xxxl: (22px, 30px, 40px 0 20px)
);

$h5-text: (
  null: (16px, 24px, 32px 0 12px),
  xl: (18px, 27px, 36px 0 18px),
  xxxl: (20px, 30px, 40px 0 20px)
);

$h6-text: (
  null: (16px, 24px, 32px 0 12px),
  xl: (18px, 27px, 36px 0 18px),
  xxxl: (20px, 30px, 40px 0 20px)
);

// Buttons.
$btn-small: (
  null: (14px, 22px),
  xl: (16px, 24px),
  xxxl: (17px, 25px)
);

$btn-default: (
  null: (16px, 24pxm),
  xl: (18px, 27px),
  xxxl: (20px, 30px)
);

$btn-medium: (
  null: (18px, 24px),
  xl: (21px, 30px),
  xxxl: (22px, 35px)
);

$btn-large: (
  null: (21px, 32px),
  xl: (24px, 36px),
  xxxl: (25px, 40px)
);

// Forms.
$form-legend: (
  null: (21px, 28px, 0),
  xl: (24px, 33px, 0),
  xxxl: (26px, 35px, 0)
);

$form-legend-plain: (
  null: (16px, 1.5, 0),
  xl: (18px, 1.5, 0),
  xxxl: (20px, 1.5, 0),
);

// Landing pages.
$landing-page-summary: (
  null: (20px, 28px, 24px 0 32px),
  lg: (22px, 32px),
  xl: (26px, 36px, 30px 0 36px),
  xxxl: (30px, 40px, 45px 0 45px)
);

// Cards.
$card-title: (
  null: (24px, 1.364),
);

// Page summary.
$page-summary: (
  null: (18px, 28px, 0 0 24px),
  lg: (19px, 28px, 0 0 24px),
  xl: (21px, 30px, 0 0 27px),
  xxxl: (22px, 35px, 0 0 30px)
);

// Home page headings.
$section-home-h2: (
  null: (24px, 32px, 32px 0 16px),
  lg: (26px, 36px, 32px 0 16px),
  xl: (28px, 39px, 36px 0 18px),
  xxxl: (28px, 40px, 35px 0 20px)
);

$sub-section-home-h2: (
  null: (22px, 32px, 0),
  xl: (24px, 33px),
  xxxl: (26px, 35px)
);

$featured-news-h3-small: (
  null: (18px, 24px),
  xl: (20px, 27px),
  xxxl: (22px, 30px)
);
