/*
 * @file
 * Provides the layout styles for common nics 2 column layouts.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Breakpoints ======================================================== */
/* Layout max widths for larger breakpoints =========================== */
@media (min-width: 768px) {
  /* line 32, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side, .layout--side-n-main {
    grid-gap: 2.4rem;
  }
  /* line 38, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side .ga-main, .layout--side-n-main .ga-main {
    /* no grid support? */
    float: left;
    width: 62%;
  }
  /* line 44, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side .ga-aside, .layout--side-n-main .ga-aside {
    /* no grid support? */
    float: right;
    width: 34%;
  }
}

@media (min-width: 992px) {
  /* line 32, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side, .layout--side-n-main {
    grid-gap: 27px;
  }
  /* line 55, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side .ga-main, .layout--side-n-main .ga-main {
    /* no grid support? */
    width: 65.789%;
  }
  /* line 60, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side .ga-aside, .layout--side-n-main .ga-aside {
    /* no grid support? */
    width: 31.579%;
  }
}

@media (min-width: 1200px) {
  /* line 32, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side, .layout--side-n-main {
    grid-gap: 30px;
  }
}

/* line 71, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--main-n-side {
  grid-template-areas: 'main' 'side';
}

/* line 78, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--main-n-side .ga-main {
  grid-area: main;
}

/* line 82, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--main-n-side .ga-aside {
  grid-area: side;
}

@media (min-width: 768px) {
  /* line 82, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side .ga-aside {
    padding-top: 5em;
  }
}

@media (min-width: 768px) {
  /* line 71, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side {
    grid-template-columns: 590fr 310fr;
    grid-gap: 3.2rem;
    grid-template-rows: auto;
    grid-template-areas: 'main side';
  }
}

@media (min-width: 992px) {
  /* line 71, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side {
    grid-template-columns: 590fr 300fr;
    grid-gap: 3.6rem;
    grid-template-rows: auto;
    grid-template-areas: 'main side';
  }
}

@media (min-width: 1200px) {
  /* line 71, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side {
    grid-template-columns: 620fr 340fr;
    grid-gap: 12rem;
  }
}

@media (min-width: 1679px) {
  /* line 71, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side {
    grid-template-columns: 640fr 340fr;
    grid-gap: 10rem;
  }
}

/* line 119, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--side-n-main {
  grid-template-areas: 'side' 'main';
}

/* line 126, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--side-n-main .ga-main {
  grid-area: main;
}

/* line 130, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--side-n-main .ga-aside {
  grid-area: side;
}

@media (min-width: 768px) {
  /* line 119, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--side-n-main {
    grid-template-columns: 298fr 590fr;
    grid-gap: 4.4rem;
    grid-template-rows: auto;
    grid-template-areas: 'side main';
  }
  /* line 140, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--side-n-main .ga-main {
    /* no grid support? */
    float: right;
  }
  /* line 145, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--side-n-main .ga-aside {
    /* no grid support? */
    float: left;
  }
}

@media (min-width: 992px) {
  /* line 119, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--side-n-main {
    grid-template-columns: 290fr 590fr;
    grid-gap: 5.4rem;
    grid-template-rows: auto;
  }
}

@media (min-width: 1200px) {
  /* line 119, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--side-n-main {
    grid-template-columns: 290fr 670fr;
    grid-gap: 6rem;
    padding-right: 90px;
  }
}

@media (min-width: 1679px) {
  /* line 119, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--side-n-main {
    grid-template-columns: 290fr 730fr;
    grid-gap: 6rem;
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  /* line 170, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--diptych {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 24px;
  }
  /* line 176, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--diptych > * {
    /* no grid support? */
    float: left;
    width: 50%;
  }
}

/*# sourceMappingURL=nics-2-col-layouts.css.map */