/*
 * @file
 * Provides styling for search form components.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Breakpoints ======================================================== */
/* Layout max widths for larger breakpoints =========================== */
/* line 16, src/scss/3_components/form/search-form.scss */
.view-search-container form,
.search-api-form form,
.search-form {
  position: relative;
  max-width: 76rem;
}

/* line 22, src/scss/3_components/form/search-form.scss */
.ga-aside .view-search-container form, .ga-aside
.search-api-form form, .ga-aside
.search-form {
  margin-bottom: 1em;
}

/* line 26, src/scss/3_components/form/search-form.scss */
.view-search-container form > .form-item,
.search-api-form form > .form-item,
.search-form > .form-item {
  margin: .5em 0;
}

/* line 29, src/scss/3_components/form/search-form.scss */
.view-search-container form > .form-item:first-child,
.search-api-form form > .form-item:first-child,
.search-form > .form-item:first-child {
  margin-top: 0;
}

/* line 34, src/scss/3_components/form/search-form.scss */
.view-search-container form > .form-wrapper,
.search-api-form form > .form-wrapper,
.search-form > .form-wrapper {
  -webkit-box-flex: 100%;
  -ms-flex: 100% 0 0px;
  flex: 100% 0 0;
}

/* line 38, src/scss/3_components/form/search-form.scss */
.view-search-container form label,
.search-api-form form label,
.search-form label {
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 0 0 var(--rhythm-spacing-sm);
}

@media screen and (min-width: 992px) {
  /* line 38, src/scss/3_components/form/search-form.scss */
  .view-search-container form label,
  .search-api-form form label,
  .search-form label {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 38, src/scss/3_components/form/search-form.scss */
  .view-search-container form label,
  .search-api-form form label,
  .search-form label {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

/* line 43, src/scss/3_components/form/search-form.scss */
.view-search-container form input,
.search-api-form form input,
.search-form input {
  font-size: 1.6rem;
  line-height: 1.5;
}

@media screen and (min-width: 992px) {
  /* line 43, src/scss/3_components/form/search-form.scss */
  .view-search-container form input,
  .search-api-form form input,
  .search-form input {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 43, src/scss/3_components/form/search-form.scss */
  .view-search-container form input,
  .search-api-form form input,
  .search-form input {
    font-size: 2rem;
  }
}

/* line 46, src/scss/3_components/form/search-form.scss */
.ga-aside .view-search-container form input, .ga-aside
.search-api-form form input, .ga-aside
.search-form input {
  font-size: 1.6rem;
}

/* line 50, src/scss/3_components/form/search-form.scss */
.view-search-container form input[type='search'], .view-search-container form input[type='text'],
.search-api-form form input[type='search'],
.search-api-form form input[type='text'],
.search-form input[type='search'],
.search-form input[type='text'] {
  width: calc(100% - 6rem);
  min-width: 120px;
  height: 4.5rem;
  padding: .6rem;
  margin: 0;
  border: 1px solid #949494;
  border-right-width: 0;
  background-color: #fff;
  color: #333;
}

/* line 62, src/scss/3_components/form/search-form.scss */
.view-search-container form input[type='search']:focus, .view-search-container form input[type='text']:focus,
.search-api-form form input[type='search']:focus,
.search-api-form form input[type='text']:focus,
.search-form input[type='search']:focus,
.search-form input[type='text']:focus {
  outline: none;
}

/* line 66, src/scss/3_components/form/search-form.scss */
.view-search-container form input[type='search']:focus-visible, .view-search-container form input[type='text']:focus-visible,
.search-api-form form input[type='search']:focus-visible,
.search-api-form form input[type='text']:focus-visible,
.search-form input[type='search']:focus-visible,
.search-form input[type='text']:focus-visible {
  outline: 3px solid black;
  outline-offset: -3px;
  -webkit-box-shadow: 0 0 0 3px #ff4da4;
  box-shadow: 0 0 0 3px #ff4da4;
  position: relative;
  z-index: 101;
}

/* line 73, src/scss/3_components/form/search-form.scss */
.view-search-container form input[type='submit'],
.search-api-form form input[type='submit'],
.search-form input[type='submit'] {
  width: 6rem;
  min-width: auto;
  height: 4.5rem;
  min-height: 4.5rem;
  padding: 0;
  margin: 0;
  border-color: var(--default-brand-primary-color);
  background: var(--default-brand-primary-color) url("data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20width%3D%22100px%22%20height%3D%22100px%22%20preserveAspectRatio%3D%22xMinYMid%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Esearch-icon%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M97.5%2C77.89a6%2C6%2C0%2C0%2C1-8.25%2C1.49L64.89%2C62.65a5.85%2C5.85%2C0%2C0%2C1-2.55-5A21.59%2C21.59%2C0%2C0%2C1%2C25.4%2C46.81a21.16%2C21.16%2C0%2C0%2C1%2C3.47-16%2C21.69%2C21.69%2C0%2C0%2C1%2C30-5.42%2C21.36%2C21.36%2C0%2C0%2C1%2C7.1%2C27%2C6%2C6%2C0%2C0%2C1%2C5.67.58L96%2C69.71A5.86%2C5.86%2C0%2C0%2C1%2C97.5%2C77.89ZM61.38%2C40.3a14.8%2C14.8%2C0%2C0%2C0-6.23-9.6%2C15.12%2C15.12%2C0%2C0%2C0-20.92%2C3.77A14.88%2C14.88%2C0%2C0%2C0%2C38%2C55.24%2C15.12%2C15.12%2C0%2C0%2C0%2C59%2C51.46%2C14.74%2C14.74%2C0%2C0%2C0%2C61.38%2C40.3Z%22%2F%3E%3C%2Fsvg%3E") 3px center no-repeat;
  background-size: 4.2rem auto;
  text-indent: -9999px;
}

/* line 85, src/scss/3_components/form/search-form.scss */
.view-search-container form input[type='submit']:focus,
.search-api-form form input[type='submit']:focus,
.search-form input[type='submit']:focus {
  outline: none;
}

/* line 89, src/scss/3_components/form/search-form.scss */
.view-search-container form input[type='submit']:focus-visible,
.search-api-form form input[type='submit']:focus-visible,
.search-form input[type='submit']:focus-visible {
  outline: 3px solid black;
  outline-offset: -3px;
  -webkit-box-shadow: 0 0 0 3px #ff4da4;
  box-shadow: 0 0 0 3px #ff4da4;
  position: relative;
  z-index: 101;
}

/* line 97, src/scss/3_components/form/search-form.scss */
.view-search-container form .form-actions,
.search-api-form form .form-actions,
.search-form .form-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

/* line 114, src/scss/3_components/form/search-form.scss */
.ga-main .view-search-container form--page, .ga-main
.search-api-form form--page, .ga-main
.search-form--page {
  max-width: 40rem;
}

/* line 120, src/scss/3_components/form/search-form.scss */
.view-search-container form--page input[type='search'],
.search-api-form form--page input[type='search'],
.search-form--page input[type='search'] {
  max-width: 100%;
}

/* line 124, src/scss/3_components/form/search-form.scss */
.view-search-container form--page input[type='submit'],
.search-api-form form--page input[type='submit'],
.search-form--page input[type='submit'] {
  background-color: var(--default-brand-primary-color);
  border-color: var(--default-brand-primary-color);
}

/* line 128, src/scss/3_components/form/search-form.scss */
.ga-main .view-search-container form--page input[type='submit'], .ga-main
.search-api-form form--page input[type='submit'], .ga-main
.search-form--page input[type='submit'] {
  height: 2.5em;
}

/* line 133, src/scss/3_components/form/search-form.scss */
.ga-aside .view-search-container form--page input, .ga-aside
.search-api-form form--page input, .ga-aside
.search-form--page input {
  font-size: 1.6rem;
}

/* line 148, src/scss/3_components/form/search-form.scss */
header .search-api-form {
  padding: .8rem .8rem .8rem 0;
  margin-bottom: 0;
  max-width: 100%;
  background-color: var(--default-brand-secondary-color);
}

@media (min-width: 768px) {
  /* line 148, src/scss/3_components/form/search-form.scss */
  header .search-api-form {
    background-color: inherit;
    padding: 0;
  }
}

/* line 159, src/scss/3_components/form/search-form.scss */
header .search-api-form .form-item,
header .search-api-form .form-actions {
  margin: 0;
  padding: 0;
}

/* line 165, src/scss/3_components/form/search-form.scss */
header .search-api-form input {
  height: 4.4rem;
}

/* line 168, src/scss/3_components/form/search-form.scss */
header .search-api-form input[type='search'] {
  font-size: 1.6rem;
  max-width: 100%;
  padding: 0 .8rem;
  border-width: 0;
}

@media (min-width: 768px) {
  /* line 168, src/scss/3_components/form/search-form.scss */
  header .search-api-form input[type='search'] {
    border-width: 1px;
    border-right-width: 0;
  }
}

/* line 179, src/scss/3_components/form/search-form.scss */
header .search-api-form input[type='search']:focus {
  outline: none;
}

/* line 183, src/scss/3_components/form/search-form.scss */
header .search-api-form input[type='search']:focus-visible {
  outline: 3px solid black;
  outline-offset: -3px;
  -webkit-box-shadow: 0 0 0 3px #ff4da4;
  box-shadow: 0 0 0 3px #ff4da4;
  position: relative;
  z-index: 101;
}

/* line 190, src/scss/3_components/form/search-form.scss */
header .search-api-form input[type='submit'] {
  border-color: var(--default-brand-primary-color);
  background-color: var(--default-brand-primary-color);
  color: #fff;
}

/* line 195, src/scss/3_components/form/search-form.scss */
header .search-api-form input[type='submit']:focus {
  outline: none;
}

/* line 199, src/scss/3_components/form/search-form.scss */
header .search-api-form input[type='submit']:focus-visible {
  outline: 3px solid black;
  outline-offset: -3px;
  -webkit-box-shadow: 0 0 0 3px #ff4da4;
  box-shadow: 0 0 0 3px #ff4da4;
}

/* line 208, src/scss/3_components/form/search-form.scss */
.path-search .search-form--site {
  margin-bottom: 1.5em;
}

/* line 212, src/scss/3_components/form/search-form.scss */
.search-form--site[type='submit'] {
  border-color: var(--default-brand-primary-color);
  background-color: var(--default-brand-primary-color);
}

/* line 220, src/scss/3_components/form/search-form.scss */
.search-results .view-links {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* line 228, src/scss/3_components/form/search-form.scss */
.facet-item--link .facet-item__value {
  -webkit-text-decoration: 1px underline #0e6bb3;
  text-decoration: 1px underline #0e6bb3;
}

/* line 232, src/scss/3_components/form/search-form.scss */
.facet-item--link:hover .facet-item__value {
  -webkit-text-decoration: 2px underline #333;
  text-decoration: 2px underline #333;
}

/* line 238, src/scss/3_components/form/search-form.scss */
.facet-summary__list ul {
  padding: 0;
}

/* line 242, src/scss/3_components/form/search-form.scss */
.facet-summary__list .facet-summary-item--facet a:focus {
  color: #333;
}

@media (min-width: 0) and (max-width: 480px) {
  /* line 248, src/scss/3_components/form/search-form.scss */
  .search-api-autocomplete-search {
    left: 8px !important;
    width: calc(100% - 16px) !important;
  }
}

/* line 259, src/scss/3_components/form/search-form.scss */
.ga-aside .search-form,
.ga-aside .block-facet--links {
  min-width: 260px;
  max-width: calc(100% - 3em);
}

@media (min-width: 480px) {
  /* line 259, src/scss/3_components/form/search-form.scss */
  .ga-aside .search-form,
  .ga-aside .block-facet--links {
    max-width: 400px;
  }
}

/*# sourceMappingURL=search-form.css.map */