# Each route describes how an incoming URL is going to be processed by Platform.sh.
#---------------------------------
"https://www.nigov.{default}":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
#---------------------------------
"https://www.communities-ni.{default}":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
#---------------------------------
"https://www.daera-ni.{default}":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
#---------------------------------
"https://www.economy-ni.{default}":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
#---------------------------------
"https://www.education-ni.{default}":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
#---------------------------------
"https://www.executiveoffice-ni.{default}":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
#---------------------------------
"https://www.finance-ni.{default}":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
    cookies: ['/^SS?ESS/', 'XDEBUG_SESSION']
#---------------------------------
"https://www.health-ni.{default}":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
#---------------------------------
"https://www.infrastructure-ni.{default}":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
#---------------------------------
"https://www.justice-ni.{default}":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
#---------------------------------
"https://www.{all}/":
  type: upstream
  upstream: "dept:http"
  cache:
    enabled: false
    cookies: ['/^SS?ESS/', 'XDEBUG_SESSION']

"https://{all}/":
  type: redirect
  to: "https://www.{all}/"
