<nav class="container site-topics">
  <span class="site-topics--label label-inline">{{ title }}:</span>
  <ul class="site-topics--list">
  {% for item in items %}
    <li class="site-topics--item{% if not loop.last %} first {% else %} last {% endif %}">
      {{ item }}
      {% if not loop.last %}, {% endif %}
    </li>
  {% endfor %}
  </ul>
</nav>
