/*
 * @file
 * Provides very specific styling for gallery node pages.
 */
@import '../init';

.page-node-type-gallery {
  .field--name-field-gallery-images {
    grid-gap: 24px;

    &.layout--triptych {
      @include breakpoint($phone) {
        grid-template-columns: 1fr 1fr;
        //grid-gap: 24px;
      }

      @include breakpoint($phab) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .media-image {
      margin: 0;
    }

    a.photoswipe {
      display: block;
      background-color: $grey-lightest;
      padding: .5em;
      min-height: 170px;
      height: 100%;

      &:focus {
        figcaption {
          color: $link;
        }
      }
    }
  }
}
