/*
 * @file
 * Sets out the base behaviour of heading elements.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Breakpoints ======================================================== */
/* Layout max widths for larger breakpoints =========================== */
/* line 22, src/scss/1_base/headings.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222;
}

/* line 26, src/scss/1_base/headings.scss */
h1 strong,
h1 b, h2 strong,
h2 b, h3 strong,
h3 b, h4 strong,
h4 b, h5 strong,
h5 b, h6 strong,
h6 b {
  font-weight: normal;
}

/* line 32, src/scss/1_base/headings.scss */
h1,
.page-title {
  font-size: 2.6rem;
  line-height: 3.2rem;
  margin: 3.2rem 0 1.6rem;
  color: #19315a;
}

@media screen and (min-width: 768px) {
  /* line 32, src/scss/1_base/headings.scss */
  h1,
  .page-title {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin: 4rem 0 1.6rem;
  }
}

@media screen and (min-width: 992px) {
  /* line 32, src/scss/1_base/headings.scss */
  h1,
  .page-title {
    font-size: 3rem;
    line-height: 3.9rem;
    margin: 4.5rem 0 1.8rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 32, src/scss/1_base/headings.scss */
  h1,
  .page-title {
    font-size: 3rem;
    line-height: 4rem;
    margin: 5rem 0 2rem;
  }
}

/* line 38, src/scss/1_base/headings.scss */
h1__prefix,
.page-title__prefix {
  font-size: 1.5rem;
  line-height: 2.2rem;
  display: block;
  margin-bottom: var(--rhythm-spacing-xs);
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

@media screen and (min-width: 992px) {
  /* line 38, src/scss/1_base/headings.scss */
  h1__prefix,
  .page-title__prefix {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 38, src/scss/1_base/headings.scss */
  h1__prefix,
  .page-title__prefix {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
}

/* line 47, src/scss/1_base/headings.scss */
h1 .subtitle, h1__suffix,
.page-title .subtitle,
.page-title__suffix {
  font-size: 2.2rem;
  line-height: 3.2rem;
  display: inline-block;
  font-weight: normal;
}

@media screen and (min-width: 992px) {
  /* line 47, src/scss/1_base/headings.scss */
  h1 .subtitle, h1__suffix,
  .page-title .subtitle,
  .page-title__suffix {
    font-size: 2.3rem;
    line-height: 3.3rem;
  }
}

@media screen and (min-width: 1200px) {
  /* line 47, src/scss/1_base/headings.scss */
  h1 .subtitle, h1__suffix,
  .page-title .subtitle,
  .page-title__suffix {
    font-size: 2.5rem;
    line-height: 3.6rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 47, src/scss/1_base/headings.scss */
  h1 .subtitle, h1__suffix,
  .page-title .subtitle,
  .page-title__suffix {
    font-size: 2.7rem;
    line-height: 4rem;
  }
}

/* line 53, src/scss/1_base/headings.scss */
h1 .subtitle::before, h1__suffix::before,
.page-title .subtitle::before,
.page-title__suffix::before {
  content: ' \2014  ';
}

/* line 59, src/scss/1_base/headings.scss */
h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin: 3.2rem 0 1.6rem;
}

@media screen and (min-width: 992px) {
  /* line 59, src/scss/1_base/headings.scss */
  h2 {
    font-size: 2.5rem;
    line-height: 3.3rem;
    margin: 3.3rem 0 1.8rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 59, src/scss/1_base/headings.scss */
  h2 {
    font-size: 2.6rem;
    line-height: 3.5rem;
    margin: 3.5rem 0 2rem;
  }
}

/* line 65, src/scss/1_base/headings.scss */
h3 {
  font-size: 2.1rem;
  line-height: 3rem;
  margin: 3.2rem 0 1.2rem;
}

@media screen and (min-width: 992px) {
  /* line 65, src/scss/1_base/headings.scss */
  h3 {
    font-size: 2.2rem;
    line-height: 3.3rem;
    margin: 3.6rem 0 1.8rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 65, src/scss/1_base/headings.scss */
  h3 {
    font-size: 2.4rem;
    line-height: 3.5rem;
    margin: 4rem 0 2rem;
  }
}

/* line 70, src/scss/1_base/headings.scss */
h4 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 3.2rem 0 1.2rem;
}

@media screen and (min-width: 992px) {
  /* line 70, src/scss/1_base/headings.scss */
  h4 {
    font-size: 2rem;
    line-height: 2.7rem;
    margin: 3.6rem 0 1.8rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 70, src/scss/1_base/headings.scss */
  h4 {
    font-size: 2.2rem;
    line-height: 3rem;
    margin: 4rem 0 2rem;
  }
}

/* line 76, src/scss/1_base/headings.scss */
h5 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 3.2rem 0 1.2rem;
}

@media screen and (min-width: 992px) {
  /* line 76, src/scss/1_base/headings.scss */
  h5 {
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin: 3.6rem 0 1.8rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 76, src/scss/1_base/headings.scss */
  h5 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 4rem 0 2rem;
  }
}

/* line 82, src/scss/1_base/headings.scss */
h6 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 3.2rem 0 1.2rem;
  font-style: italic;
}

@media screen and (min-width: 992px) {
  /* line 82, src/scss/1_base/headings.scss */
  h6 {
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin: 3.6rem 0 1.8rem;
  }
}

@media screen and (min-width: 1679px) {
  /* line 82, src/scss/1_base/headings.scss */
  h6 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 4rem 0 2rem;
  }
}

/*# sourceMappingURL=headings.css.map */